@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "Actualizar";
    Layout = "_LayoutSGPI";
}
<div class="tab-content">
    <form method="post">
        <div class="container">
            <br>
            <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
                <b>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink("Actualizar", "Actualizar", new {IdUsuario = Model.Idusuario})
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Pagos", "Pagos", new {IdUsuario = Model.Idusuario})
                        </li>
                    </ul>
                </b>
            </nav>
            <br>
            <div style="text-align:right">
                <a href="/Administrador/Login" id="regresar">Cerrar sesion</a>
            </div>

            <br>
            <div class="container tab-pane active">
                <fm action="/action_page.php">
                    <div class="container-fluid cew-9">
                        <div class="row">
                            <div class="col">
                                <b><label for="tipo">Tipo de Documento</label></b>
                                <br>
                                @Html.DropDownList("Iddoc", new SelectList(ViewBag.tblTipoDocumento, "Iddoc","TipoDocumento"), new{@class="form-control dropdown"})
                                <br>
                                <br>
                                <br>
                                <b><label for="programa">Programa</label></b>
                                <br>
                                @Html.DropDownList("Idprograma", new SelectList(ViewBag.tblPrograma, "Idprograma","Programa"), new{@class="form-control dropdown"})
                                <br>
                            </div>
                            <div class="col">
                                <b><label for="genero">Genero</label></b>
                                <br>
                                @Html.DropDownList("Idgenero", new SelectList(ViewBag.tblGenero, "Idgenero","Genero"), new{@class="form-control dropdown"})
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.estudiante != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.estudiante
                        </div>
                    }
                    <div class="row">
                        <div class="col">
                            <b><label asp-for="NumeroDocumento" for="numdoctxt">NUMERO DE DOCUMENTO</label></b><br>
                            <input asp-for="NumeroDocumento" type="number" placeholder="#" style="width : 350px; heigth : 5px" id="numdoctxt" required />
                            <br>
                            <br>
                            <b><label asp-for="Email" for="numdoctxt">CORREO ELECTRONICO</label></b><br>
                            <input asp-for="Email" type="email" placeholder="Ingrese correo" style="width : 350px; heigth : 5px" id="correoelectxt" required />
                            <br>
                            <br>
                            <b><label asp-for="PrimerNombre" for="primernametxt">PRIMER NOMBRE</label></b><br>
                            <input asp-for="PrimerNombre" type="text" placeholder="Ingrese primer nombre" style="width : 350px; heigth : 5px" id="primernombtxt" required />
                            <br>
                            <br>
                        </div>
                        <div class="col">
                            <b><label asp-for="SegundoNombre" for="segundonamectxt">SEGUNDO NOMBRE</label></b><br>
                            <input asp-for="SegundoNombre" type="text" placeholder="Ingrese segundo nombre" style="width : 350px; heigth : 5px" id="segundonamectxt" required />
                            <br>
                            <br>
                            <b><label asp-for="PrimerApellido" for="primerlastnametxt">PRIMER APELLIDO</label></b><br>
                            <input asp-for="PrimerApellido" type="text" placeholder="Ingrese primer apellido" style="width : 350px; heigth : 5px" id="primerlastnametxt" required />
                            <br>
                            <br>
                            <b><label asp-for="SegundoApellido" for="segundolastnametxt">SEGUNDO APELLIDO</label></b><br>
                            <input asp-for="SegundoApellido" type="text" placeholder="Ingrese segundo apellido" style="width : 350px; heigth : 5px" id="segundolastnametxt" required />
                            <br>
                            <br>
                        </div>
                    </div>
                    <b><label for="certificadotxt">Enviar Certificado</label></b>
                    <br>
                    <input type="file" placeholder="Agudelo" style="width : 400px; heigth : 1px" id="primerlastnametxt" />
                    <br>
                    <br>
                    <br>
                    <center>
                        <button class="btn btn-outline-primary" id="modificarestudiante" type="submit" value="Modificar">MODIFICAR</button>
                    </center>
            </div>
        </div>
    </form>
</div>